# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env

# Optional cache and build files
.DS_Store
dist/
build/
coverage/

# VS Code settings
.vscode/
